<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login for  blog user</h3>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" id="user" required th:value="${user.email}" th:field="${user.email}" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" id="password" required th:value="${user.passwordHash}" th:field="${user.passwordHash}" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">
                    <a href="" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>